.t-popup-model{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0003;
    display: none;
}


.t-popup{
    width:500px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-close{
    width:24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 24px;
    text-align: center;
    font-size: 20px;
    border-radius: 0px 0px 0px 4px;
}
.icon-close:hover{
    background-color: #E9EBEE;
}

.t-popup .t-popup-header{
    width: 428px;
    height:24px;
    padding: 24px;
    font-weight: 700;
    font-size: 15px;
}
.t-popup .t-popup-content{
    display: flex;
    align-items: center;
    width: 452px;
    margin: 24px;
}
.t-popup .t-icon-popup{
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    background-color: #E9EBEE;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    font-size:20px;
    color: #ffda1e
}

.t-popup .t-text-popup{
    width: 412px;
}

.t-popup-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    background-color: #E9EBEE;
}

.btn-fisrt{
    background-color: unset;
    color: #000000;
}

.btn-fisrt:hover{
    background-color:#BBBBBB;
}

.btn-second{
    margin-right: 40px;
    margin-left: 16px;
}



